.post {
	&__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
		width: 100%;

		@media only screen and (min-width: 768px) {
			height: 350px;
		}
	}

	&__body {
		margin: 2rem auto;
		max-width: 600px;
		line-height: 2rem;
		padding: 1rem;

		img {
			max-width: 100%;
		}
	}
}
