.post-list-item {
	background-image: url("/assets/post-icon.svg");
	background-position: 0 5px;
	background-repeat: no-repeat;
	margin: 2rem auto 4rem;

	a {
		display: block;
		font-size: 1.2rem;
		line-height: 2rem;
		padding-left: 2rem;
		text-decoration: none;

		&:visited {
			color: #8be9fd;
		}
	}

	&__title {
		margin: 0;
		padding: 0;
	}

	&__date {
		color: #6070a1;
		font-size: 0.8rem;
		padding-left: 2rem;
	}
}
