@import "normalize";
@import "fonts";
@import "layout";
@import "typograhy";

@import "components/project_card";
@import "components/header";
@import "components/footer";
@import "components/avatar";
@import "components/post_list_item";

@import "pages/post";

html,
body {
	background-color: #21222c;
	color: #f8f8f2;
	font-family: "JetBrainsMono", sans-serif;
	font-size: 18px;
	line-height: 150%;
}

strong {
	font-family: "JetBrainsMonoBold", sans-serif;
}

a {
	color: #50fa7b;

	&:hover {
		color: #8be9fd;
	}
}
