@import "normalize";
@import "fonts";
@import "layout";
@import "components/project_card";

html,
body {
	background-color: #21222c;
	color: #f8f8f2;
	font-family: "JetBrainsMono", sans-serif;
	font-size: 18px;
	line-height: 150%;
}

strong {
	font-family: "JetBrainsMonoBold", sans-serif;
}

a {
	color: #ff79c6;

	&:hover {
		color: #8be9fd;
	}
}
